@model BookingFilm.Phim
@{
    var lichChieu = TempData["LichChieu"] as LichChieu;
    var GIAVE = TempData["TotalGiaVe"] as decimal?;
    var phim = TempData["Phim"] as Phim;
    var ghe = TempData["Ghe"] as Ghe;
    var doAn = TempData["DoAn"] as DoAn;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="~/CSS/Ticket.css" rel="stylesheet" />
    <title>Movie Ticket Booking Website</title>
</head>
<body>
    <div class="book">
        <div class="left">
            <div class="play">
                <i class="bi bi-house-fill" id="play"></i>
            </div>
            <img src="@Html.DisplayFor(model => model.HinhPhim)" alt="" id="poster" />

            <div class="cont">
                <h6>Directed by</h6>
                <p>@Html.DisplayFor(model => model.DaoDien)</p>
                <h6>Category</h6>
                <p>
                    @Html.DisplayFor(model => model.TheLoai)
                </p>
                <h6>Year Of Manufacture</h6>
                <p>	@Html.DisplayFor(model => model.NamSanXuat)</p>
                <h6>Describe</h6>
                <p>	@Html.DisplayFor(model => model.MoTa)</p>
            </div>
        </div>
        <div class="right">




            <div class="head_time">
                <h1 id="title">@Html.DisplayFor(model => model.TenPhim)</h1>
                <div class="time">
                    <h6><i class="bi bi-clock"></i> @Html.DisplayFor(model => model.ThoiLuong) minutes</h6>

                </div>
            </div>

            <div>
                <div class="tic">
                    <div class="barcode">
                        <div class="card">
                            <h6>ROW @ghe.TenGhe</h6>
                            <h6>@lichChieu.NgayChieu</h6>
                        </div>
                        <div class="card">
                            <h6>@ghe.TenGhe</h6>
                            <h6>@lichChieu.SuatChieu</h6>
                        </div>

                        <svg id="a13barcode" width="266px" height="142px" x="0px" y="0px" viewBox="0 0 266 142" xmlns="http://www.w3.org/2000/svg" version="1.1" style="transform: translate(0,0)"><rect x="0" y="0" width="266" height="142" style="fill:#ffffff;"></rect><g transform="translate(10, 10)" style="fill:#000000;"><rect x="0" y="0" width="4" height="100"></rect><rect x="6" y="0" width="2" height="100"></rect><rect x="12" y="0" width="2" height="100"></rect><rect x="22" y="0" width="2" height="100"></rect><rect x="26" y="0" width="2" height="100"></rect><rect x="34" y="0" width="4" height="100"></rect><rect x="44" y="0" width="2" height="100"></rect><rect x="48" y="0" width="6" height="100"></rect><rect x="56" y="0" width="8" height="100"></rect><rect x="66" y="0" width="2" height="100"></rect><rect x="72" y="0" width="4" height="100"></rect><rect x="78" y="0" width="6" height="100"></rect><rect x="88" y="0" width="2" height="100"></rect><rect x="92" y="0" width="4" height="100"></rect><rect x="102" y="0" width="6" height="100"></rect><rect x="110" y="0" width="4" height="100"></rect><rect x="118" y="0" width="4" height="100"></rect><rect x="124" y="0" width="4" height="100"></rect><rect x="132" y="0" width="4" height="100"></rect><rect x="140" y="0" width="2" height="100"></rect><rect x="144" y="0" width="6" height="100"></rect><rect x="154" y="0" width="4" height="100"></rect><rect x="162" y="0" width="2" height="100"></rect><rect x="168" y="0" width="6" height="100"></rect><rect x="176" y="0" width="6" height="100"></rect><rect x="184" y="0" width="4" height="100"></rect><rect x="190" y="0" width="6" height="100"></rect><rect x="198" y="0" width="8" height="100"></rect><rect x="212" y="0" width="2" height="100"></rect><rect x="216" y="0" width="2" height="100"></rect><rect x="220" y="0" width="4" height="100"></rect><rect x="230" y="0" width="6" height="100"></rect><rect x="238" y="0" width="2" height="100"></rect><rect x="242" y="0" width="4" height="100"></rect><text style="font: 20px monospace" text-anchor="middle" x="123" y="122">A134301192023</text></g></svg>
                        <h5>VEGUS CINEMA</h5>
                    </div>
                    <div class="tic_details" style=" background: url(img/bg.png)no-repeat center -35px /cover">
                        <div class="type">4DX</div>
                        <h5 class="pvr"><span>Vegus</span> Cinema</h5>
                        <h1>Jawan</h1>
                        <div class="seat_det">
                            <div class="seat_cr">
                                <h6>ROW</h6>
                                <h6>A</h6>
                            </div>
                            <div class="seat_cr">
                                <h6>SEAT</h6>
                                <h6>13</h6>
                            </div>
                            <div class="seat_cr">
                                <h6>DATE</h6>
                                <h6>11 <sub>sep</sub></h6>
                            </div>
                            <div class="seat_cr">
                                <h6>TIME</h6>
                                <h6>11:30 <sub>pm</sub></h6>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <footer>
                <p class="footer-text">© 2024 LeeWinHS, By H-Fing</p>
            </footer>
        </div>
    </div>

    <script src="~/JS/Ticket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.5/JsBarcode.all.js" integrity="sha512-wkHtSbhQMx77jh9oKL0AlLBd15fOMoJUowEpAzmSG5q5Pg9oF+XoMLCitFmi7AOhIVhR6T6BsaHJr6ChuXaM/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        JsBarcode("#barcode", "J18800792023");
    </script>
</body>
</html>

<style>
    .book-ticket {
        padding: 4px 10px;
        border-radius: 10px;
        border: 2px solid #fd6565;
        color: #fff;
        background: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
        transition: .3s linear;
        text-decoration: none;
        margin-left: 20px;
    }

        .book-ticket:hover {
            background: #fd6565;
        }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .footer-text {
        display: flex;
        color: white;
        font-size: 10px;
    }
</style>