
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@model BookingFilm.LichChieu


@using (Html.BeginForm("Edit", "ShowTime", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.MaLC, new { id = "MaLC" })
    <label>Showtime ID: @Html.DisplayFor(model => model.MaLC)</label>


    <label for="NgayChieu">Show Date:</label><br>
    @Html.TextBoxFor(model => model.NgayChieu, "{0:yyyy-MM-dd}", new { id = "NgayChieu", type = "date", @required = "required" })<br>

    <label for="SuatChieu">Show Time:</label><br>
    @Html.TextBoxFor(model => model.SuatChieu, "{0:hh\\:mm}", new { id = "SuatChieu", type = "time", @required = "required" })<br>

    <label for="MaPhim">Film:</label><br>
    @Html.DropDownListFor(model => model.MaPhim, (IEnumerable<SelectListItem>)ViewData["MaPhim"], "Select a film", new { @class = "form-control", @required = "required" })

    <label for="MaPC">Room:</label><br>
    @Html.DropDownListFor(model => model.MaPC, (IEnumerable<SelectListItem>)ViewData["MaPC"], "Select a room", new { @class = "form-control", @required = "required" })
    <input type="submit" value="Save Changes">
</div>
}


<style>

    .form-control, #SuatChieu {
        border: solid 1px;
        border-radius: 10px;
        margin-top: -28px;
        font-size: 20px;
        width: 70%;
        padding: 0px 10px;
    }


    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 10px 0;
        color: #333;
    }

    .form-horizontal {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

        .form-horizontal label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-horizontal input[type="text"],
        .form-horizontal input[type="email"],
        .form-horizontal input[type="password"],
        .form-horizontal input[type="date"],
        .form-horizontal input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .form-horizontal input[type="submit"] {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

            .form-horizontal input[type="submit"]:hover {
                background-color: #2980b9;
            }

    input {
        margin-top: -25px;
    }

    .text-danger {
        color: red;
    }


    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        background-color: #3498db;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #2980b9;
        }
</style>

