@model IEnumerable<BookingFilm.LichChieu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="@Url.Action("Create", "ShowTime")" class="btntest" style="border-radius: 10px; border: 1px solid; width: 125px; font-size: 16px; color:white; background-color:forestgreen ">Add Show Time</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Movie Name</th>
            <th>Show Date</th>
            <th>Show Time</th>
            <th>Room Name</th> <!-- Thêm cột mới cho Phòng Chiếu -->
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lichChieu in Model)
        {
            <tr>
                <td>@lichChieu.MaLC</td>
                <td>@lichChieu.Phim.TenPhim</td>
                <td>@(lichChieu.NgayChieu.HasValue ? lichChieu.NgayChieu.Value.ToShortDateString() : "")</td>
                <td>@lichChieu.SuatChieu</td>
                <td>@lichChieu.PhongChieu.TenPC</td> <!-- Hiển thị tên Phòng Chiếu -->
                <td>
                    <a href="@Url.Action("Edit", "ShowTime", new { id = lichChieu.MaLC })" style="display: inline !important">EDIT</a>
                    <a href="@Url.Action("Delete", "ShowTime", new { id = lichChieu.MaLC })" style="display: inline !important" onclick="return confirm('Are you sure you want to delete this item?');">REMOVE</a>
                </td>
            </tr>
        }
    </tbody>
</table>