
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model BookingFilm.SuKien

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Event</h4>
        <hr />
        <label for="TenSK">Event Name:</label><br>
        @Html.TextBoxFor(model => model.TenSK, new { id = "TenSK", @required = "required" })<br>

        <label for="NgaySinh">Start day: </label><br>
        @Html.TextBoxFor(model => model.NgayBatDau, "{0:yyyy-MM-dd}", new { id = "NgayBatDau", type = "date", @required = "required" })<br>

        <label for="NgaySinh">End date: </label><br>
        @Html.TextBoxFor(model => model.NgayKetThuc, "{0:yyyy-MM-dd}", new { id = "NgayKetThuc", type = "date", @required = "required" })<br>

        <label for="MucKhuyenMai">Promotion level(Muc Khuyen Mai):</label><br>
        @Html.TextBoxFor(model => model.MucKhuyenMai, new { id = "MucKhuyenMai", @required = "required" })<br>



        <input type="submit" value="Create">
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
<style>
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 10px 0;
        color: #333;
    }

    .form-horizontal {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

        .form-horizontal label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-horizontal input[type="text"],
        .form-horizontal input[type="email"],
        .form-horizontal input[type="password"],
        .form-horizontal input[type="date"],
        .form-horizontal input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .form-horizontal input[type="submit"] {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 0px;
        }

            .form-horizontal input[type="submit"]:hover {
                background-color: #2980b9;
            }

    input {
        margin-top: -25px;
    }

    .text-danger {
        color: red;
    }


    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        background-color: #3498db;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #2980b9;
        }
</style>

