@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<BookingFilm.PhongChieu>

<a href="@Url.Action("Create", "CinemaRoom")" class="btntest" style="border-radius: 10px; border: 1px solid; width: 125px; font-size: 16px; color:white; background-color:forestgreen ">Add Cinema Room</a>
<div style="text-align: center; margin-top: 20px; padding: 10px; border: 2px solid #4CAF50; border-radius: 5px; width: 300px; margin: 20px auto; box-shadow: 0 2px 5px rgba(0,0,0,0.3);">
    @using (Html.BeginForm("Index", "CinemaRoom", FormMethod.Get))
    {
        <input type="text" name="searchString" placeholder="Search by name or ID" style="width: 200px; height: 30px; padding: 3px 10px; border-radius: 5px; border: 1px solid #ccc;" />
        <input type="submit" value="Search" style="height: 30px; padding: 3px 10px; border-radius: 5px; border: 1px solid #ccc; background-color: #4CAF50; color: white;" />
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of Rows</th>
            <th>Seats Per Row</th>
            <th>Cinema</th>
            <th id="action">Action</th>
        </tr>
    <thead>
    <tbody>
        @foreach (var phongChieu in Model)
        {
            <tr>
                <td>@phongChieu.MaPC</td>
                <td>@phongChieu.TenPC</td>
                <td>@phongChieu.SoHangGhe</td>
                <td>@phongChieu.SoGheMoiHang</td>
                <td>@phongChieu.RapChieu.TenRC</td>

                <td>
                    <a href="@Url.Action("Edit", "CinemaRoom", new { id = phongChieu.MaPC })" style="display: inline !important">EDIT</a>
                    <a href="@Url.Action("Delete", "CinemaRoom", new { id = phongChieu.MaPC })" style="display: inline !important" onclick="return confirm('Are you sure you want to delete this cinema room ? All seats in this cinema room will also be deleted.');">REMOVE</a>
                </td>
            </tr>
        }
    </tbody>
</table>